<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
        body{
          font-family: Arial,Tahoma;
        }
        div{
          font-family: Arial,Tahoma;
        }
        .Main{
            min-height: 500px;
        }
        .Main img{
            border-radius: 100%;
            height: 70px;
            width: 70px;
            margin-left: 460px;
            margin-bottom: -120px;
        }
        .infos{
            height: 480px;
            width: 310px;
            background-color: #e7b535;
            margin-left: 480px;
            margin-top: 50px;
            border-radius: 5px;
            margin-bottom: 50px;
            box-shadow:1px 2px 15px 10px #db9b00 ;

            
        }
        #show{
            width: 18px;
            height: 18px;
            margin-right:100%;
            position:absolute;
            margin-left:15px ;
            margin-top: 10px;
            
        }
        #show:hover{
            cursor: pointer;
        }
        
        
    </style>
    <title>Profile</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/television_tv_screen_monitor_icon_190854.ico')}}">
    <link href="{{url_for('static',filename='styles/css/bootstrap.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/articles.css')}}">
</head>
<body>
  <div id="TOPpage">

    <div  class="ONE">
    <div class="Simg">
      <img src="{{url_for('static',filename='images/icons8-new-message-30.png')}}"   alt="">
    </div>
    <div class="typed"><b> <a href="mailto: contact@voieinfo.com" style="font-family: Arial,Tahoma;">contact@voieinfo.com</a> </b></div></div>
  
  
    <div class="TWO">
      <div class="Simg2">
        <img src="{{url_for('static',filename='images/icons8-phone-24.png')}}"   alt="">
      </div>
      <div class="typed"><b> <a href="tel:+212 522 35 35 36" style="font-family: Arial,Tahoma;">+212 522 35 35 36 /03 </a> </b></div></div>
  
    </div>
  
    <div class="nextTOP">
      <img src="{{url_for('static',filename='images/logo.png')}}" id="logo" alt="">
  
  
      <div class="sites" >
        <div class="els" id="selected">
          <div class="MGS">
            <a href="/login">
          <img src="{{url_for('static',filename='images/icons8-home-24.png')}}" alt=""></a></div>
          <p><strong>Profile</strong></p>
        </div>
        <div class="els" >
          <div class="MGS">
            <a href="/choix">
          <img src="{{url_for('static',filename='images/icons8-computer-24.png')}}" alt=""></a></div>
          <p><strong>Articles</strong></p>
        </div>
       
        <div class="el" >
            <div class="MGS">
              <a href="/Logout">
            <img src="../static/images/icons8-shutdown-24.png" style="width: 60px;height: 60px;opacity: 1;margin-left: 90px; " alt=""></a></div>
          </div>
  
        
      </div>
       
  
    </div>
<!------------------------------------------------------------------------------------------------------------------------>

  <div class="Main">
      <img src="{{url_for('static',filename='images/utilisateur.png')}}" alt="">
            
            <div class="infos" style="font-family: Mochiy Pop One;">
                <p style="margin-left: 120px;">Id: <span style="color: rgb(151, 151, 151);">{{Id}}</span> <hr> </p>
            <p style="margin-left: 30px;margin-top: 30px;position:absolute;">Nom <input type="text" value="{{User.prenom}}" style="width: auto;"  readonly></p>
            <p style="margin-left: 30px;margin-top: 100px;position:absolute;">Email <input type="text" value="{{User.email}}" style="width: auto;" readonly></p>
            <p style="margin-left: 30px;margin-top: 170px;position:absolute;">Phone <input type="text" value="{{User.phone}}" style="width: auto;" readonly></p>
            <form action="/profile" method="POST">
                <p style="margin-left: 45px;margin-top: 240px;position:absolute;width: 200px;">MDP <input type="password" name="pwd" id="passwd" value="{{User.password}}" style="width: auto;" > <img id="show" src="{{url_for('static',filename='images/eye.png')}}"  alt="">
                    <input type="submit" value="Enregistrer" style="max-width:65px;font-size:xx-small;margin-left: 60px;margin-top: 10px;" >
                </p>
            </form>
           
            {% if User.admin %}
            <p style="margin-left: 160px;margin-top: 380px;position:absolute;">Admin <input type="checkbox" style="margin-left: -140px;" checked></p>
            {% endif %}
            {% if not User.admin %}
            <p style="margin-left: 130px;margin-top: 380px;position:absolute;">Admin <input type="checkbox" style="margin-left: -140px;" ></p>
            {% endif %}

        </div>


  </div>



<!------------------------------------------------------------------------------------------------------------------------>

  <div class="B-footer" style="background: url({{url_for('static',filename='images/footer_bg.png')}});font-family: Arial,Tahoma;" >
    <div id="A-f" >
      <div class="four">
        <div style="font-size: small;color: white;width: 100%;height: 30px;background: linear-gradient(to bottom, #e7b535 0%, #e7b535 50%, #e4ac1a 50%, #e4ac1a 100%);margin-bottom: -12px;" > <p> A propos !</p></div>
      <i class="arrow down"></i><br>
      <img style="margin-left: -63px;margin-top: 14px;" src="{{url_for('static',filename='images/logo.png')}}" alt=""><br>
      <p style="text-align: left;color: #e0e0e0;margin-top: 15px;font-size: smaller;">Le spécialiste de la gestion de point de vente et d'informatique mobile.
      </p>
  
    </div>
      <div class="four">
        <div style="font-size: small;color: white;width: 100%;height: 30px;background: linear-gradient(to bottom, #e7b535 0%, #e7b535 50%, #e4ac1a 50%, #e4ac1a 100%);margin-bottom: -12px;" > <p> Contacts</p></div>
      <i class="arrow down"></i>
          <div class="NOn" style="margin-top: 12px;margin-bottom: -20px;">
            <img src="{{url_for('static',filename='images/email_icon.png')}}" alt="">
            <p style="text-align: left;color: #CCCCCC;font-size: smaller;">support@voieinfo.com <br> sales@voieinfo.com</p>
  
          </div>
          <br>
          <div class="NOn">
            <img src="{{url_for('static',filename='images/phone_icon.png')}}" alt=""><br>
            <p style="text-align: left;color: #CCCCCC;font-size: 12px;">(+212) 522 35 35 36/03 <br>(+212) 522 35 35 36/03</p>
          </div>
  
      </div>
      <div class="four">
        <div style="font-size: small;color: white;width: 100%;height: 30px;background: linear-gradient(to bottom, #e7b535 0%, #e7b535 50%, #e4ac1a 50%, #e4ac1a 100%);margin-bottom: -12px;" > <p> Adresses</p></div>
      <i class="arrow down"></i>
  
      <div class="NOn" style="margin-top: 12px;margin-bottom: -20px;">
        <img src="{{url_for('static',filename='images/address_icon.png')}}" alt="">
        <p style="text-align: left;color: #CCCCCC;font-size: 12px;margin-top: -7px;">Route De Rabat (r.p. 1), Km 8,5 <br> Ain Sebaa Center Appt. N°26 Q. Beausite - Casablanca</p>
  
      </div>
      <br>
      <div class="NOn">
        <img src="{{url_for('static',filename='images/website_icon.png')}}" alt=""><br>
        <p style="text-align: left;font-size: 12px;line-height: 21px;"><a style="text-decoration: none;color: #CCCCCC;" class="tHref" href="#">voieinfo.com</a> <br><a class="tHref" style="text-decoration: none;color: #CCCCCC;" href="http://pointec-maroc.com/">pointec-maroc.com/</a></p>
      </div>
      </div>
      <div class="four">
        <div style="font-size: small;color: white;width: 100%;height: 30px;background: linear-gradient(to bottom, #e7b535 0%, #e7b535 50%, #e4ac1a 50%, #e4ac1a 100%);margin-bottom: -7px;" > <p> Carte</p></div>
      <i class="arrow down" style="margin-bottom: 10px;"></i>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.099529696644!2d-7.553863385410962!3d33.60272194873317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7ccf3d6689a59%3A0x69a90188250589ee!2sVoie%20Informatique%20(%20Voie%20Info%20)!5e0!3m2!1sfr!2sma!4v1625585122546!5m2!1sfr!2sma" width="100%" height="140" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
    
  </div>
  
  
  <footer>
    <div>Copyright © <b>VOIEINFO</b> 2013 Tous les droit sont réservés</div>
  
  </footer>
  
  </body>
  <script>
      var btn=document.getElementById('show');
      var pass=document.getElementById('passwd');
      btn.style.background='red';
      btn.addEventListener('click',()=>{
          if(pass.type=="password"){
              pass.type="text";
              btn.style.background='green';
          }
          else{
            pass.type="password";
            btn.style.background='red';
          }
      })
  </script>
  </html>
