<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/television_tv_screen_monitor_icon_190854.ico')}}">
    <link href="{{url_for('static',filename='styles/css/bootstrap.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/report.css')}}">
</head>
<body>
    <div id="TOPpage">

        <div  class="ONE">
        <div class="Simg">
          <img src="{{url_for('static',filename='images/icons8-new-message-30.png')}}"   alt="">
        </div>
        <div class="typed"><b> <a href="mailto: contact@voieinfo.com">contact@voieinfo.com</a> </b></div></div>
      
      
        <div class="TWO">
          <div class="Simg2">
            <img src="{{url_for('static',filename='images/icons8-phone-24.png')}}"   alt="">
          </div>
          <div class="typed"><b> <a href="tel:+212 522 35 35 36">+212 522 35 35 36 /03 </a> </b></div></div>
      
        </div>
        <div id="navig" >
            <a href="/"><img src="{{url_for('static',filename='images/logo.png')}}" alt=""></a>
          <a href="/login" style="margin-left: 15%;">Log-in ?</a>
        </div>
        <!---------------------------------------------------------------------------------------------------------->
    <main id="tout" style="min-height: 550px;text-align: center;margin-top: 10%;">

      <ul style="margin-bottom: 50px;list-style-position:inside;">
        <li style="font-size: 32px;margin-bottom: 13%;">Cette Page a pour but de declarer <span>les problemes</span> que vous avez rencontré  lors de votre utilisation de notre site</li>
      
       
      <li style="font-size: 25px;">votre message sera envoyé aux <span>administrateures</span>  du site </li> 
      <li style="font-size: 21px;"> <span>Essayer de bien vous exprimer et de bien détailler votre souci</span>  afin de nous faciliter le travail</li>
      </ul>

           

<button onclick="document.getElementById('id01').style.display='block'"  style="width:auto;border: 2px #e4ac1a solid;">Nous Contacter</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" style="text-align: left;" id="problem" method="POST">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Fermer">&times;</span>
    </div>

    <div class="container">
      <label for="nom"><b>Nom</b></label>
      <input type="text" placeholder="Enter Username" name="nom" required>

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" required><br>

      <label for="Message"><b>Message</b></label>
      <textarea name="Message" cols="30" rows="10" required></textarea>
        
      <button type="submit" >Envoyer le message</button>
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Annuler</button>

      
    </div>

   
  </form>
</div>

        </main>





        <!---------------------------------------------------------------------------------------------------------->

      <div style="background:linear-gradient(rgba(255, 255, 255, 0),grey);height: 70px;width: 100%;text-align: center;">
     
      </div>


      <div class="B-footer" style="background: url({{url_for('static',filename='images/footer_bg.png')}});" >
        <div id="A-f" >
          <div class="four">
            <div style="font-size: small;color: white;width: 100%;height: 30px;background: linear-gradient(to bottom, #e7b535 0%, #e7b535 50%, #e4ac1a 50%, #e4ac1a 100%);margin-bottom: -12px;" > <p> A propos !</p></div>
          <i class="arrow down"></i><br>
          <img style="margin-left: -63px;margin-top: 14px;" src="{{url_for('static',filename='images/logo.png')}}" alt=""><br>
          <p style="text-align: left;color: #e0e0e0;margin-top: 15px;font-size: smaller;">Le spécialiste de la gestion de point de vente et d'informatique mobile.
          </p>

        </div>
          <div class="four">
            <div style="font-size: small;color: white;width: 100%;height: 30px;background: linear-gradient(to bottom, #e7b535 0%, #e7b535 50%, #e4ac1a 50%, #e4ac1a 100%);margin-bottom: -12px;" > <p> Contacts</p></div>
          <i class="arrow down"></i>
              <div class="NOn" style="margin-top: 12px;margin-bottom: -20px;">
                <img src="{{url_for('static',filename='images/email_icon.png')}}" alt="">
                <p style="text-align: left;color: #CCCCCC;font-size: smaller;">support@voieinfo.com <br> sales@voieinfo.com</p>

              </div>
              <br>
              <div class="NOn">
                <img src="{{url_for('static',filename='images/phone_icon.png')}}" alt=""><br>
                <p style="text-align: left;color: #CCCCCC;font-size: 12px;">(+212) 522 35 35 36/03 <br>(+212) 522 35 35 36/03</p>
              </div>

          </div>
          <div class="four">
            <div style="font-size: small;color: white;width: 100%;height: 30px;background: linear-gradient(to bottom, #e7b535 0%, #e7b535 50%, #e4ac1a 50%, #e4ac1a 100%);margin-bottom: -12px;" > <p> Adresses</p></div>
          <i class="arrow down"></i>

          <div class="NOn" style="margin-top: 12px;margin-bottom: -20px;">
            <img src="{{url_for('static',filename='images/address_icon.png')}}" alt="">
            <p style="text-align: left;color: #CCCCCC;font-size: 12px;margin-top: -7px;">Route De Rabat (r.p. 1), Km 8,5 <br> Ain Sebaa Center Appt. N°26 Q. Beausite - Casablanca</p>

          </div>
          <br>
          <div class="NOn">
            <img src="{{url_for('static',filename='images/website_icon.png')}}" alt=""><br>
            <p style="text-align: left;font-size: 12px;line-height: 21px;"><a style="text-decoration: none;color: #CCCCCC;" class="tHref" href="#">voieinfo.com</a> <br><a class="tHref" style="text-decoration: none;color: #CCCCCC;" href="http://pointec-maroc.com/">pointec-maroc.com/</a></p>
          </div>
          </div>
          <div class="four">
            <div style="font-size: small;color: white;width: 100%;height: 30px;background: linear-gradient(to bottom, #e7b535 0%, #e7b535 50%, #e4ac1a 50%, #e4ac1a 100%);margin-bottom: -7px;" > <p> Carte</p></div>
          <i class="arrow down" style="margin-bottom: 10px;"></i>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.099529696644!2d-7.553863385410962!3d33.60272194873317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7ccf3d6689a59%3A0x69a90188250589ee!2sVoie%20Informatique%20(%20Voie%20Info%20)!5e0!3m2!1sfr!2sma!4v1625585122546!5m2!1sfr!2sma" width="100%" height="140" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
        
      </div>


      <footer>
        <div>Copyright © <b>VOIEINFO</b> 2013 Tous les droit sont réservés</div>

      </footer>

       
      

</body>
<script>
    
var modal = document.getElementById('id01');

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>

</html>